/* Type
-------------------------------------------------------------- */
body,
button,
input,
select,
textarea {
    font:var(--base-font-weight) var(--base-font-size) var(--base-font-family);
    line-height:var(--base-line-height);
    color:var(--base-font-color);
}